*{
    font-family: 'Nova Square', sans-serif;
}
body{
    /* margin: 0;
    padding: 0; */
    background-color: #ececec;
}
.nav-style{
    background-color: #ececec;
    height: 15vh;
}
.style-logo{
    height: 100px;
    /* width: 200px; */
}
header{
    height: 100vh;
    
}
.img-header{
    background-image: linear-gradient(to bottom, #ececec , rgba(255, 255, 255, 0) ), url('./media/switzerland-862870_1920.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}
h1{
    margin-top: 200px;
    font-size: 100px;
    letter-spacing: 10px;
    color: darkred;
}
.img-cover{
    width: 100vw;

}
h4{
    font-size: 25px;
}
.virgolette {
    color: darkred;
}

.citazione{
   height: 20vh;
   width: 50vw;
   color: rgb(97, 97, 97);
}